@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    overflow: hidden;
    width: 100%;
}
html{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

body{
    margin: 0px;
}

.navbar{
    background-color: darkseagreen;
    width: 100%;
}
img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline;
}

li{
    margin-left: 30px;
    display: inline;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}
button a {
    text-decoration: none;
}

.container{
    margin: 30px;
}
